
<div>
    <h2><span>Cchatmessz</span> {{vm.cchatmessz.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Idchat</span></dt>
        <dd>
            <span>{{vm.cchatmessz.idchat}}</span>
        </dd>
        <dt><span>Author</span></dt>
        <dd>
            <span>{{vm.cchatmessz.author}}</span>
        </dd>
        <dt><span>Content</span></dt>
        <dd>
            <span>{{vm.cchatmessz.content}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
