
<!-- modal add kbase -->
<div   ng-class="{'lightboxShow': $parent.vm.affAddKB , 'lightboxHide': !$parent.vm.affAddKB }" >
    <div class="row well messAlert" style="background-color:#fff;padding-top:2px;padding-bottom:3px;padding-left:1px;padding-right:1px;"> -
   <form name="editForm" role="form" novalidate ng-submit="saveKB()">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
					ng-click="$parent.vm.toggleAffAddKB()">&times;</button>
			<h4 class="modal-title" >Ajouter un article KB</h4>
		</div>
   <div class="modal-body">
        <div class="form-group">
            <!-- <label class="control-label" for="field_question">Question</label> -->
        <input type="text" class="form-control" name="question" id="field_question"
                    ng-model="$parent.vm.newKB.question"  required="" />
        </div>
		
        <div class="form-group">
            <!-- <label class="control-label" for="field_answer">Answer</label> -->
            <input type="text" class="form-control" name="answer" id="field_answer"
                    ng-model="$parent.vm.newKB.answer"   required="" />
        </div>			
   </div>
   
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$parent.vm.toggleAffAddKB()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Enregistrer</span>
        </button>
    </div>   
   </form>
  </div>
</div>




<!-- <div class="row well"  style="background-color:#e7e7e7;padding-top:2px;padding-bottom:3px;padding-left:1px;padding-right:2px;margin-right:2px;" 
     ng-show="$parent.vm.affAddKB" >
<span class="btn btn-info btn-xs "> Nouvel article de la base de connaissance : </span>
     <div class="well col-md-12 "  style="padding:1px;" >   	
       <textarea class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" rows="2" 
	              ng-model="$parent.vm.newKB.question" required="" ></textarea>
	   <textarea class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" rows="2" 
	             ng-model="$parent.vm.newKB.answer" required="" ></textarea>
    </div>	
	<button type="button" class="btn btn-success btn-xs glyphicon glyphicon-ok pull-right" ng-click="addKB()"> Ajouter KB </button>
</div> 

<a class="btn btn-primary" ng-click="toggleModalAddKB()" >LancePopup</a>	
 -->










	<!-- class="lightboxHide"      lightboxHide lightboxShow    premiere modal-->
<!-- <div   ng-class="{'lightboxShow': AffModal , 'lightboxHide': !AffModal }" >
      <div class="row well messAlert" style="background-color:#e7e7e7;padding-top:2px;padding-bottom:3px;padding-left:1px;padding-right:1px;">

		  <div  > 
				<button type="button" class="btn btn-danger btn-xs glyphicon glyphicon-remove-circle pull-right" 
								ng-click="toggleModalAddKB()"> </button>
          </div>
		
		
			<div class="col-md-12 "  >
		        <span class="btn btn-info btn-xs "> Nouvel article de la base de connaissance : </span>
				<div class="well col-md-12 "  style="padding:1px;" >   	
				   <textarea class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" rows="2" 
							  ng-model="$parent.vm.newKB.question" required="" ></textarea>
				   <textarea class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" rows="2" 
							 ng-model="$parent.vm.newKB.answer" required="" ></textarea>
				</div>	
				 <div > 
				   <button type="button" class="btn btn-success btn-xs glyphicon glyphicon-ok pull-right" ng-click="addKB()"> Ajouter KB </button>
				 </div>
	       </div>
</div> -->


