
<div class="row well"  
style="background-color:#e7e7e7;padding-top:2px;padding-bottom:3px;padding-left:1px;padding-right:1px;padding-right:2px;margin-right:2px;"  >

<span class="btn btn-info btn-xs ">Base de connaissance:</span>	  
            <div class="table-responsive "  style="height:605px;overflow-y:scroll" >  
				  <div ng-repeat="reclkb in  $parent.vm.ResultKB | filter : $parent.vm.saisieChat " class="higthligth col-md-12" style="padding-right:2px;" >
					  {{reclkb.question}}  <br> {{reclkb.answer}}  <br>
					  <span class="btn btn-success btn-xs glyphicon glyphicon glyphicon glyphicon-chevron-right pull-right" 
							ng-click="sendAnswer(reclkb.answer)" style="padding:0px"  title="Envoyer en reponse dans la conversation" ></span>
				  </div>
            </div>	

</div>




	

			
