        <!-- <div class="col-md-8"> -->
		<!-- ******************************************* -->
		<!-- formulaire de recherche sur les api Git Stack-->
			
		<div class="row">		
            <div class="col-xs-8 no-padding-right">
                <form name="searchengineForm" class="form-inline pull-right" > <!-- ng-submit="vm.getSearchByString()" -->
                    <div class="input-group pull-right" >
				       <input class="input form-control" id="chaineSearch" name="chaineSearch" placeholder="Saisir votre recherche"
                        list="app_ids" ng-model="vm.chaineSearch"  ng-change="vm.getSearchkeyword()" required />
                            <datalist id="app_ids" >
									<option ng-repeat="ap in vm.resultSearchKeyWord" value="{{ap.name}}"></option>
                            </datalist>
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info " ng-click="vm.getSearchByString()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>

                    </div>
                </form>
            </div>			
	    </div>		
			
			
		<!-- *******************************************    -->
		<!-- affichage des menu de flitrage des resultat-->
            <span ng-show="vm.resultSearch.length" span>
                <p>&nbsp;</p>
                <!-- <HR> {{ vm.resultSearch.length }} Resultats  <input ng-model='src' placeholder='source'/> -->
                <button type="button" class="btn btn-default " ng-click="vm.ShowSrcFilter(' ')">( {{ vm.resultSearch.length }} ) Tous</button>
                <button type="button" class="btn btn-default " ng-click="vm.ShowSrcFilter('GitHub')">( {{ vm.nbResult.GitHub }} ) GitHub</button> 
                <button type="button" class="btn btn-default " ng-click="vm.ShowSrcFilter('StackOverFlow')">( {{ vm.nbResult.StackOverFlow }} ) StackOverFlow</button>
				<div class="row">		
					<div class="col-xs-8 no-padding-right">
						<input class="input form-control " ng-model="vm.src" placeholder='source'/>
					</div>
				</div>
 		    <!-- *******************************************    -->
		    <!-- affichage des resultats en provenance de api Git Stack-->     				
			<!--  http://www.tutoriel-angularjs.fr/tutoriel/2-utilisation-complete-d-angularjs/2-les-filtres -->	
            <div class="table-responsive" style="height:550px"  >
                <table class="jh-table table table-striped table-responsive "   >
                    <tbody>
                    <tr ng-repeat="r in vm.resultSearch | filter:vm.src ">
						<td> {{r.srcApi}}
							<a ng-href={{r.url}} target="_blank" >{{r.url}}  </a>
						    <br> {{r.title}}
							<p> </p>
						</td>
                        <td >
						</td>
                    </tr>
                    </tbody>
                </table>
            </div>				
				
            </span>


        <!-- </div> -->