
<div>
    <h2><span>Csearchkey</span> {{vm.csearchkey.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.csearchkey.name}}</span>
        </dd>
        <dt><span>Nb</span></dt>
        <dd>
            <span>{{vm.csearchkey.nb}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
