<div class="row well" >
	<div class="col-md-4" >
	  <cl-adr ng-show="vm.AddressBook.state"></cl-adr>
	  <!-- <cl-dbkb ng-show="vm.AddressBook.state"></cl-dbkb> -->
	  
	  <cl-dbkb ng-show="vm.saisieChat"></cl-dbkb>
	  
	  <cl-dbaddkb ng-show="vm.affAddKB && vm.profileOperator.acces "></cl-dbaddkb>   <!-- && !vm.saisieChat  modal-->
	  <cl-delchat></cl-delchat> <!--   modal-->
	 </div>
	 <div class="col-md-8" >
<!-- page chat debut -->
<div class="row well"  style="background-color:#e7e7e7;padding-top:2px;padding-bottom:3px;padding-left:1px;padding-right:1px;"  >

		 <!-- pour operator liste des conversation en cours --> 
	    <div   ng-class="{'ng-show': vm.profileOperator.acces , 'ng-hide': !vm.profileOperator.acces }" > 
<!-- 		glyphicon glyphicon-chevron-left
        glyphicon glyphicon-chevron-right     vm.toggleAdressBook  vm.AddressBook.state    -->
		
		
		
					<div  ng-repeat="dl in vm.listChat | orderBy:'id' "  title="{{dl.student}}" 
					      ng-class="{'btn-default': vm.chatEnCours.idchat==dl.id,'btn-info': vm.chatEnCours.idchat!=dl.id }"
						  class="btn btn-xs glyphicon glyphicon-user "
						  style="margin-right:4px;"
					      ng-click= "vm.changeChat(dl.id)"  > 
			      </div>
				  
				   <span ng-click= "vm.toggleAdressBook()" 
				         ng-class="{'glyphicon-chevron-right': vm.AddressBook.state,'glyphicon-chevron-left ': !vm.AddressBook.state }" 				   
    				     class="btn btn-xs btn-default glyphicon  pull-left " 
				        style="margin-right:2px"
				   title="afficher l annuaire" ></span>	

				  
				   <span ng-show="vm.chatEnCours.idchat"   class="btn btn-xs btn-default glyphicon glyphicon-remove-circle pull-right " 
				   ng-click= "vm.toggleDelChat()" title="Cloturer la conversation" ></span>		
					<span class="btn btn-xs btn-warning pull-right " style="margin-right:2px">{{vm.NameTarget}} </span>				   
				   			  
        </div> 
		
		
<!-- liste des message pour une conversation remove-->
	<!-- liste des message pour une conversation -->
    <div class="form-control col-md-11  table-responsive"  style="height:500px;overflow-y:scroll; "  id="chat1" >    <!-- style="overflow-y:scroll;" table-responsive  scrollTop:400px;-->
		<div ng-class="{'pull-right': d.author==vm.account.login,'pull-left': d.author!=vm.account.login }" 
		     ng-repeat="d in vm.discuss | filter:vm.chatEnCours:true | orderBy:'id' " class="col-md-11 col-lg-11  col-xs-11"  > 
            <div>
			   <div  style="margin-right:1px;z-index:999;" 
			         class="btn btn-default pull-right btn-xs glyphicon glyphicon-remove-circle  "   
			         ng-click= "vm.delChatMessage(d.id)" title = " rappeler le message"> </div>
			    <!-- author -->
                <div ng-class="{'pull-right': d.author==vm.account.login,'pull-left': d.author!=vm.account.login }" 
				     style="z-index:999;"
				     class="btn btn-default btn-xs glyphicon glyphicon-user  " title="{{d.author}}">
                </div>
				
			    <!-- paste answer en add KB -->				
                <div  ng-click= "vm.pasteAnswerKB(d.content)"
				      ng-class="{'ng-show': vm.profileOperator.acces , 'ng-hide': !vm.profileOperator.acces }"
				      class="btn btn-success btn-xs glyphicon glyphicon-certificate pull-right "
				      style="margin-right:10px;z-index:999;"  
				      title="selectionner comme reponse pour la KB">
                </div>				
			    <!-- paste question en add KB -->				
                <div  ng-click= "vm.pasteQuestionKB(d.content) "
				      ng-class="{'ng-show': vm.profileOperator.acces , 'ng-hide': !vm.profileOperator.acces }"
				      class="btn btn-success btn-xs glyphicon glyphicon-leaf pull-right " 
					  style="z-index:999;"
				      title="selectionner comme question pour la KB">
                </div>				


				
				
                <!-- message -->
                <div ng-class="{'well': d.author!=vm.account.login,'alert alert-success ': d.author==vm.account.login }"   >
					 <p>idchat : {{d.idchat}}   emetteur : {{d.author}}    id mess : {{d.id}} </p>
					 <p>message : {{d.content}}</p>
                </div>
            </div>
        </div><!-- end ngRepeat: d in vm.discuss | orderBy:'id' -->	
		<div  class="col-md-11 " style="height:130px;" ><p>&nbsp;</p> <p>&nbsp;</p> <p>&nbsp;</p> <p>&nbsp;</p>   </div>
    </div>
	
	<!-- form message -->
    <div class="form-control col-md-12 " style="height:130px" style="padding-left:0px;">   <!-- end ngRepeat: d in vm.discuss | orderBy:'id'     <div class="form-control col-md-12 table-responsive" style="height:130px"> -->	
        <div >
		   <!--  <input type="checkbox" class="pull-left ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="vm.checkboxisOperator" aria-invalid="false"> --> 	
            <button type="button" class="btn btn-default btn-xs glyphicon glyphicon-cog pull-left "  ng-click="vm.toggleOperatorAccess()"  style="margin-right:2px;">
			<button type="button" class="btn btn-default btn-xs glyphicon glyphicon-screenshot pull-left "  ng-click="vm.toggleAffAddKB()" 
			        ng-class="{'ng-show': vm.profileOperator.acces , 'ng-hide': !vm.profileOperator.acces }" style="margin-right:2px;">
			<button type="button" class="btn btn-success btn-xs glyphicon glyphicon-refresh pull-right" ng-click="vm.refresh()"> </button>
            <textarea class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" rows="3" ng-model="vm.saisieChat" required="" aria-invalid="true"></textarea>
            <input class="input btn-xs pull-left"   ng-model="vm.fakeAuthor" ng-class="{'ng-show': vm.profileOperator.acces , 'ng-hide': !vm.profileOperator.acces }" />	
			<button type="button" class="btn btn-success btn-xs glyphicon glyphicon-ok pull-right" ng-click="vm.addContent(vm.saisieChat)"> Envoyer </button>
        </div>
    </div>	
	
	 
</div>	  <!-- fin du chat	  -->
	 

	  </div>
  </div>





<!--  {{' operator :' + vm.profileOperator.acces}}
 {{' idChat:' + vm.chatEnCours.idchat}} 
 {{' affaddKB:' + vm.affAddKB}} 
 {{' AddressBook.state:' + vm.AddressBook.state}}-->
 
 
 
 

  


  

		
		
		
		
	