<!--  cladr.html   -->
<div class="row well"  
style="background-color:#e7e7e7;padding-top:2px;padding-bottom:3px;padding-left:1px;padding-right:1px;padding-right:2px;margin-right:2px;"  >

<span class="btn btn-info btn-xs ">Carnet d'adresse:</span>	<h1></h1>  
          <div class="table-responsive "  style="height:605px;overflow-y:scroll" >  
		  
				  <div ng-repeat="user in  $parent.vm.AddressBook.result " 
				       class="btn btn-xs btn-default glyphicon glyphicon-user col-md-11 pull-left" style="padding-right:2px;margin-bottom:2px;" >
					  {{user.login}}
				  </div>
				  
<!-- 				  <div ng-repeat="user in  $parent.vm.AddressBook.result " class="higthligth col-md-12" style="padding-right:2px;" >
					  {{user.login}}
				  </div> -->
            </div>	 

</div>


<!-- 					  <span class="btn btn-success btn-xs glyphicon glyphicon glyphicon glyphicon-chevron-right pull-right" 
							ng-click="sendAnswer(reclkb.answer)" style="padding:0px"  title="Envoyer en reponse dans la conversation" ></span> -->