<!-- modal add kbase -->
<div   ng-class="{'lightboxShow': $parent.vm.affDelChat , 'lightboxHide': !$parent.vm.affDelChat }" >
    <div class="row well messAlert" style="background-color:#fff;padding-top:2px;padding-bottom:3px;padding-left:1px;padding-right:1px;"> -
   <form name="editForm" role="form" novalidate ng-submit="$parent.vm.delChat()">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
					ng-click="$parent.vm.toggleDelChat()">&times;</button>
			<h4 class="modal-title" >Confirmer la cloture</h4>
		</div>
   <div class="modal-body">
        Vous etes sur le point de cloturer la conversation avec {{$parent.vm.NameTarget}}
   </div>
   
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$parent.vm.toggleDelChat()">  
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Cloturer</span>
        </button>
    </div>   
   </form>
  </div>
</div>