
	

<div class="row" style="margin-left:2px;margin-right:5px;margin-top:1px;">
        <button type="button" class="btn btn-success btn-xs glyphicon glyphicon-comment pull-right"
		        ng-show="vm.isAuthenticated()"
	            ng-click="vm.toggleChat()" title="ouvrir le chat" style="z-index:999;"} ></button>
    <div class="  {{vm.cadrage.left}} ">	
	  <cl-search></cl-search> 
	  <p>&nbsp;</p>
	</div>				
    <div class="{{vm.cadrage.right}}">
                <div ng-show="vm.clickChat" class="ng-show "  >
				   <cl-chat></cl-chat>
                </div>				 
    </div>			   
</div>	




