
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCchatzLabel">Create or edit a Cchatz</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.cchatz.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.cchatz.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_student">Student</label>
            <input type="text" class="form-control" name="student" id="field_student"
                    ng-model="vm.cchatz.student"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_operateur">Operateur</label>
            <input type="text" class="form-control" name="operateur" id="field_operateur"
                    ng-model="vm.cchatz.operateur"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_state">State</label>
            <input type="number" class="form-control" name="state" id="field_state"
                    ng-model="vm.cchatz.state"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
