
<div>
    <h2><span>Cchatz</span> {{vm.cchatz.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Student</span></dt>
        <dd>
            <span>{{vm.cchatz.student}}</span>
        </dd>
        <dt><span>Operateur</span></dt>
        <dd>
            <span>{{vm.cchatz.operateur}}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
            <span>{{vm.cchatz.state}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
