
<div>
    <h2><span>Ckbz</span> {{vm.ckbz.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Question</span></dt>
        <dd>
            <span>{{vm.ckbz.question}}</span>
        </dd>
        <dt><span>Answer</span></dt>
        <dd>
            <span>{{vm.ckbz.answer}}</span>
        </dd>
        <dt><span>Author</span></dt>
        <dd>
            <span>{{vm.ckbz.author}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
